---
import { currentIssue } from '@/data/magazine';
---

<aside class="editor-lede" aria-label="Editor's note for this issue">
  <p class="editor-lede-kicker">In this issue</p>
  <p class="editor-lede-text">{currentIssue.editorLede}</p>
</aside>
